In [13]:
""" Style """
import warnings
warnings.filterwarnings("ignore")  # suppres all warnings


""" Autoload """
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [59]:
""" Backend """
from group_predictor import *

Data Imported: (170350, 134)
Shape Updated from (170350, 134) -> (170350, 9) | 125 Columns Removed.
Shape Updated from (170350, 9) -> (28181, 9) | 142169 Rows Removed.
Encoding: gname
X_train: (18881, 8)
y_train: (18881,)
X_test: (9300, 8)
y_test: (9300,)
Train Accuracy: 0.557
Test Accuracy: 0.558

In [60]:
len(set(y_train))

10

In [58]:
preprocessor.get_dataframe().head()

,iyear,imonth,country,success,suicide,attacktype1,targtype1,gname,nkill,nwound
eventid,,,,,,,,,,
197001310001,1970,1,160,0,0,9,4,6,0.0,1.0
197004020001,1970,4,160,1,0,9,4,6,2.0,0.0
197006260001,1970,6,603,0,0,2,17,3,5.0,NaN
197006270001,1970,6,603,1,0,2,14,3,3.0,NaN
197006270002,1970,6,603,1,0,2,14,3,1.0,NaN

In [51]:
X_train.head()

,iyear,imonth,nkill,nwound,success,suicide,country,attacktype1,targtype1
eventid,,,,,,,,,
199110260022,1991,10,0.0,0.0,1,0,61,3,21
201608160056,2016,8,1.0,1.0,1,0,4,3,14
198306160022,1983,6,NaN,NaN,1,0,159,3,3
201605180011,2016,5,4.0,0.0,0,1,95,3,20
201511060015,2015,11,1.0,2.0,1,0,4,3,15

In [52]:
y_train.head()

eventid
199110260022    1
201608160056    7
198306160022    6
201605180011    3
201511060015    7
Name: gname, dtype: int64

In [54]:
pred_test

array([6, 7, 6, ..., 3, 6, 3])

In [55]:
y_test

eventid
200712080001    6
200805120021    7
198203160004    6
201502220095    3
201504240008    3
198305160004    6
201409290086    4
201212240003    7
199106250008    6
199706160001    2
201304180013    7
200711020011    4
201411100037    7
201407210076    3
197812120001    2
201010050009    4
198601070006    6
201608050021    3
201505110117    7
198702220004    1
199602080001    6
199209200005    6
201204100002    7
199108150008    2
198506260012    1
201411150009    7
198910250008    6
199208120003    6
199101040004    2
199202110005    6
               ..
201302130004    7
198403000007    6
198906070010    6
201308070011    7
198812230004    1
200604050018    7
198702120006    4
200807120001    7
199201110001    6
201507030074    3
198211090002    1
198301180007    6
199211220018    2
199003220003    1
201402010074    7
198505160033    1
201506020021    3
201504100014    3
199110220014    1
198611230002    1
201602240022    3
201312210007    4
201606210043    4
201409150094    3
198810280005    1
198908200009    6
201507040053    7
201611130047    3
198709150004    6
201410270025    3
Name: gname, Length: 7905, dtype: int64